.navigation {
    background-color:rgb(255, 255, 255);
    font-size: 1.05vw;
    display: flex;
    align-items: center;
    height: 10vh;
    border-bottom: 0.01vh solid rgb(217, 217, 217);
    box-shadow: 0px 1vw 2vw rgba(0, 0, 0, 0.07);
}
  
.navigation ul {
    flex: 1;
    display: flex;
    list-style-type: none; /* 동그라미 없애기 */
    justify-content: center;
    padding: 0; /* 기본 패딩 제거 */
    margin: 0; /* 기본 마진 제거 */
    margin-right: 15vw;
}
  
.navigation li {
    margin: 0 0.5vw; /* 항목 간의 간격 조절 */
    width: 8vw; /* li 요소의 너비를 10vw로 설정 */
    height: 5vh;
    display: flex;
    align-items:end; /* 자식 요소를 가운데 정렬 */
}
  
.navi {
    text-decoration: none;
    width: 100%; /* 부모인 li 요소의 너비에 맞춤 */
    height: 100%; /* 부모인 li 요소의 높이에 맞춤 */
    display: flex;
    align-items: center; /* 텍스트를 세로로 가운데 정렬 */
    justify-content: center; /* 텍스트를 가로로 가운데 정렬 */
    box-sizing: border-box; /* padding과 border를 전체 너비와 높이에 포함 */
    background-color:rgb(255, 255, 255);
    border-radius: 1vw;
    color: black;
    transition: background-color 0.5s ease;
}

.navi:hover {
    background-color: rgb(201, 201, 201);
    border-radius: 1vw;
}

.n_icon {
    margin-right: 0.5vw;
}

.logo {
    width: 8vw;
}
.logoLink{
    margin-left: 5vw;
    width: 8vw;
}