@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
 
.App {
  font-family: 'Pretendard-Regular';
}
.content{
  display: inline-flex;
}

.main_right{
  display: flex;
  float: right;
  border: 1px solid black;
  margin: 1vw;
  height: 82vh;
  width: 20vw;
}

.form-container {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 500px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(241, 241, 241);
  margin-left: 73vh;
}

.form-lable {
  font-size: 1.5em;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.form-h5{
  text-align: center;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #8878de;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

.btn:hover {
  background-color: #6b48f7;
}

.admin-bt{
  padding: 1px;
  background-color: #8878de;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}