html,
body,
#root {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  height: 100%;
}

.main_left {
  flex: 0 0 80%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 70% */
}

.main_right {
  flex: 0 0 20%; /* flex-grow: 0, flex-shrink: 0, flex-basis: 30% */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.admin-header,
.admin-main,
.admin-footer {
  display: flex;
  align-items: center; /* 수직 정렬 */
  justify-content: center; /* 수평 정렬 */
}
.admin-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.admin-header {
  flex: 1;
  background-color: #b7b7ff; /* 예시 배경색 */
  align-items: center;
}

.admin-main {
  flex: 8;
  background-color: pink; /* 예시 배경색 */
  align-items: center;
}

.admin-footer {
  flex: 1;
  background-color: #b7b7ff; /* 예시 배경색 */
  align-items: center;
}

.navigation {
  background-color: pink;
  font-size: 20px;
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
}

.navigation ul {
  flex: 1;
  display: flex;
  list-style-type: none; /* 동그라미 없애기 */
  padding: 0;
  margin: 0;
  justify-content: center;
}

.navigation li {
  margin: 0 10px; /* 항목 간의 간격 조절 */
}


.content {
  flex: 1;
  padding: 10px;
}

.init-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.init-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

white-space: pre-line;